<!DOCTYPE html>
<html>
<head>
    <title>Appointment Booking</title>
    <link rel="stylesheet" href="css/appointments.css">
</head>
<body>
    <div class="container">
        <div class="info-P">
            <div class="box info">
                <img src="css/avatar1.jpg" alt="" style="height: 100px; width:100px;border-radius:100%">
                <ul>
                    <li>Id card : {{ idcard }}</li>
                    <li>Welcome : {{ namep }}</li>
                    <li>age: {{agep}}</li>
                    <li>gender: {{genderp}}</li>
                </ul>
            </div>
            <div class="box options">
                <ul>
                    <li><a href="/diagnosis/{{patientid}}">See Your Diagnosis</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div>
        </div>
        <div class="set-appointment">
          <div id="message-container"></div>
          <form action="/book-appointment" method="POST">
              <div class="doctor-name" style="display: none;">
                <label for="doctorName">Doctor's Name:</label>
                <input type="text" id="doctorNameInput" name="doctorName" value="{{doctorName}}">
              </div>
              <div class="patient-id" style="display: none;">
                <label for="patientId">Patient's ID:</label>
                <input type="text" id="patientIdInput" name="patientId" value="{{patientId}}">
              </div>
              <div class="select">
                <label for="timeSlot" style="color: rgb(147, 243, 214);">Select a Time Slot :</label>
                <select id="timeSlot" name="timeSlot"  required>
                    {{#each timeOptions}}
                        <option id="time" value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
                <button type="submit" id="allButton" >Book Appointment</button>
              </div>

          </form>
        </div>
</body>
</html>
